.popup__profession {
    border: none;
    border-bottom: 1px solid;
    border-bottom-color:  rgba(0, 0, 0, 0.2);
    width: 358px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    display: block;
    margin-bottom: 48px;
    padding: 0;
    padding-bottom: 13.34px;
}